<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-muted">- Software Feature Generator -</h2>
            <div class="well" id="output"><span id="outputText">Click the button!</span></div>
            <button id="generate" type="button" class="btn btn-primary">Generate</button>
        </div>
    </div>
</div>
